<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolês</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2>Rolês</h2>
      <h3><a href="/perfil">Voltar</a></h3>

      <ul>
        <% for (var i = 0; i < newListItems.length ; i++) { %>
        <li style="color: orange; font-weight: bold">
          <%= newListItems[i].nomeRole %>
        </li>
        <li>Local: <%= newListItems[i].localRole %></li>
        <!-- <li><%= newListItems[i].descricaoRole %></li> -->
        <li>
          <%= newListItems[i].dateRole %> às <%= newListItems[i].timeRole %>
        </li>
        <li>Organizador: <%= newListItems[i].nickname %></li>
        <% } %>
      </ul>
      <form action="/roles/criar" method="get">
        <input type="submit" value="Criar" />
      </form>
    </div>
  </body>
</html>
