<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolês</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2>Rolês</h2>
      <h3><a href="/perfil">Voltar</a></h3>
      <form action="/roles/criar" method="get">
        <button class="action" type="submit">Criar</button>
      </form>

      <ul>
        <% for (var i = 0; i < newListItems.length ; i++) { %>
        <div class="boxRole">
          <li style="color: orange; font-weight: bold">
            <a class="standardLink" href="/role/<%=newListItems[i].id%>"
              ><%= newListItems[i].nomeRole %></a
            >
          </li>
          <li>
            <%= newListItems[i].dateRole %> às <%= newListItems[i].timeRole %>
          </li>
          <form action="/roles/<%=newListItems[i].id%>" method="post">
            <% if(newListItems[i].userConfirmedRole) { %>
              <button
              type="submit"
              class="button-presencaRole"
              id="participantesRole"
              name="participantesRole"
              style="padding: 30px; background: darkred;"
            >
              Desmarcar presença
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                  fill="rgb(255,255,255)"
                />
              </svg>
              <li><%= newListItems[i].participantsRoleCount%></li>
            </button>
            <% } %>

            <% if(!newListItems[i].userConfirmedRole) { %>
              <button
              type="submit"
              class="button-presencaRole"
              id="participantesRole"
              name="participantesRole"
              style="padding: 30px; background: darkgreen;"
            >
              Marcar presença
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                  fill="rgb(255,255,255)"
                />
              </svg>
              <li><%= newListItems[i].participantsRoleCount%></li>
            </button>
            <% } %>

            
          </form>
        </div>
        <% } %>
      </ul>
    </div>
    <script
      src="https://kit.fontawesome.com/938e00a1d3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
